* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container-fluid {
  padding: 0 32px;
}

.container-fluid .active {
  color: #2e2e2e;
}

#main-header {
  padding: 16px 0;
  box-shadow: 0 0 5px #999;
}

#main-header .logo {
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}

#main-header ul {
  display: inline-block;
  margin-left: 850px;
}

#main-header ul li {
  display: inline-block;
  padding: 10px 15px;
  color: #999;
}

#main-header ul li a:hover {
  color: #000;
}

#main-header ul li:last-of-type {
  background-color: #000;
  color: #fff;
}

#main-header ul li:last-of-type a:hover {
  color: #fff;
}

/* section start */
.section-form {
  text-align: center;
  padding: 70px 0;
  margin: auto;
}

.get-form {
  width: 600px;
  margin: auto;
}

.get-form input, textarea {
  color: gray;
}

.get-form p {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
}

.form-1 {
  display: flex;
  justify-content: space-between;
}

.form-1>div {
  flex: 1;
}

.form-1 input {
  padding: 5px;
  font-size: 12px;
  font-family: serif;
  width: 100%;
}

.form-name {
  margin-right: 20px;
}

.form-2 {
  margin-top: 20px;
}

.form-2 p,
.form-1 p {
  text-align: start;
}

.form-2 textarea {
  width: 100%;
  padding: 5px;
  font-size: 12px;
  font-family: serif;
}

.submit-btn {
  padding: 10px 10px;
  margin-top: 20px;
  width: 100%;
  background-color: black;
  color: white;
  border: none;
}

.submit-btn:hover {
  background-color: #555353;
}

/* section end */

/* main start */
/* form start */
.main-form {
  background-color: #e1dfdf;
  text-align: center;
  padding: 100px 20px;
}

.main-form-title {
  margin-bottom: 15px;
  font-size: 35px;
  font-family: serif;
  font-weight: 200;
  color: #323232;
}

.main-form-cont {
  color: grey;
  margin-bottom: 20px;
  font-size: 15px;
}

.form-email {
  color: #a4a4a4;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
}

.form-btn {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 10px 20px;
  border: none;
}

.form-btn:hover {
  background-color: #272727a2;
  box-shadow: #fff;
  border-color: black;
}

.form-btn:active {
  border: 1px solid #e4e4e4;
}

/* form end */
/* main end */

/* footer start */
.footer-bottom {
  padding: 100px;
}

.footer-bottom .logo {
  font-size: 30px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-btm {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer-right {
  line-height: 45px;
  display: flex;
  justify-content: space-around;
}

.footer-right-titles {
  font-weight: 500;
  color: black;
}

.footer-right-links {
  color: gray;
}

.f-t {
  margin: 0px 30px
}

.footer-link {
  text-decoration: none;
  color: grey;
  font-size: 14px;
}

.footer-link span {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font-size: 14px;
  font-weight: 900;
}

/* footer end */